@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap);

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  font-family: Oswald;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

#loadingimage {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}
.itemname2 {
  text-align: left;
  width:110px;
  font-size: 11.5px;
  position:absolute;
  bottom:5px;
  left: 3px;
  color:rgba(255, 255, 255, 0.807);
  background: rgba(1, 5, 1, 0);
}
.information {
  position: absolute;
  top: 1px;
  right: 4px;
  color: rgba(222, 222, 222, 1.0);
  font-size: 1.2vh;
  text-align: center;
  text-transform: none;
}

.infowrap {
  background-color: rgba(22, 22, 22, 0.6);
  width: 100%;
}

.UseBarHead {
  position:absolute;
  background-color:rgba(255, 255, 255, 0);
  padding:3px;
  color:rgb(31, 141, 195);
  font-size:10px;
  font-weight:bold;
  margin-left:2px;
  margin-top:2px;
  opacity:0.9;
}
.move-form {
  position: absolute;
  top: 35%;
  left: 46.75%;
  height: 30%;
  width: 7%;
}

#bind1 {
  position:absolute;

  padding:2px;
  color:white;
  font-size:11px;
  font-weight:bold;
  margin-top:8px;
  opacity:0.9;

  margin-left: 6px;

}

#bind2 {
  position:absolute;

  padding:2px;
  color:white;
  font-size:11px;
  font-weight:bold;
  margin-top:8px;
  opacity:0.9;

  margin-left:138px;

}

#bind3 {
  position:absolute;

  padding:2px;
  color:white;
  font-size:11px;
  font-weight:bold;
  margin-top:8px;
  opacity:0.9;

  margin-left: 268px;

}

#bind4 {
  position:absolute;

  padding:2px;
  color:white;
  font-size:11px;
  font-weight:bold;
  margin-top:8px;
  opacity:0.9;


  margin-left: 398px;

}

#bind5 {
  position:absolute;

  padding:2px;
  color:white;
  font-size:11px;
  font-weight:bold;
  margin-top:8px;
  opacity:0.9;


  margin-left: 529px;

}

input {
  height: 15%;
  width: 35%;
  font-size: 1.2vh;
  text-align: center;
  background-color: rgba(12, 12, 12, 0.5);
  color: rgba(220, 220, 220, 1.0);
  margin-top: 0.45vh;
  right: 20px;
  border-radius: 50%; /* Set border-radius to 50% for a circular shape */
}


h2 {
  margin-top: -0.8vh;
}

.DispInfo {
  margin: 5px;
  font-weight: 0;
  font-size: 1.2vh;
}

hr {
  opacity: 0.2;
}

.CurrentInformation {
  position: absolute;
  top: 750%;
  left: 35%;
  height: 14%;
  width: 26.5%;
  max-height: 25%;
  font-weight: 0;
  opacity: 0;
  font-size: 1.2vh;
  font-weight: 0;
  text-decoration: none;
  color: rgba(220, 220, 220, 1.0);
  padding: 1%;
  font-family: verdana;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.Logs {
  position: absolute;
  top: 820.5%;
  left: 78%;
  height: 8%;
  width: 20%;
  max-height: 20%;
  font-weight: 0;
  opacity: 1;
  font-size: 1.2vh;
  font-weight: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 1.0);
  padding: 1%;
  font-family: verdana;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.buttondude {
  flex-grow: 1;
  align-items: center;
  text-align: center;
  font-weight: 0;
  width: 38%;
  height: 16%;
  color: red;
  opacity: 1;
  line-height: 4.5vh;
  font-size: 1.2vh;
  font-weight: 0;
  text-decoration: none;
  background-color: rgba(12, 12, 12, 0.5);
  border: 2px solid grey; /* Added border property */
  background: radial-gradient(circle, rgba(42, 42, 42, 0.724) 0, rgba(47, 47, 47, 0.842) 100%), transparent;
  color: rgba(220, 220, 220, 1.0);
  display: block;
  float: none;
  font-family: verdana;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 50%; /* Set border-radius to 50% for a circular shape */
}

.buttondude svg {
  width: 60%; /* Adjust the width to control the size of the icon */
  height: auto; /* Automatically adjust the height based on the width */
  fill: rgb(27, 75, 135); /* Change the fill color of the icon */
  margin-top: 10px; /* Add some space between the icon and the top of its container */
}

.hidden {
  display: none;
}

.CloseInv {
  position: relative;
  width: 50px;
  height: 50px;
  color: rgba(220, 220, 220, 1.0);
  background: radial-gradient(circle, rgba(42, 42, 42, 0.724) 0, rgba(47, 47, 47, 0.842) 100%), transparent;
  border-radius: 50%; /* Set border-radius to 50% for a circular shape */
}

.CloseInv::before,
.CloseInv::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 2px;
  background: radial-gradient(circle, rgba(42, 42, 42, 0.724) 0, rgba(47, 47, 47, 0.842) 100%);
  background-color: rgb(197, 34, 34);
}

.CloseInv::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.CloseInv::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}



input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  opacity: 0.0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

input[type="number"]::-webkit-inner-spin-button:hover, input[type="number"]::-webkit-inner-spin-button:active {
  opacity: 0.0;
}

.item2  {
    position: relative;
    float: left;
    width: 123px;
    height: 123px;
    text-align: left;
    border: 0.01px solid rgba(33, 47, 94, 0);
    background: radial-gradient(50% 50% at 50% 50%, rgba(42, 42, 42, 0.4) 0, rgba(47, 47, 47, 0.7) 100%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin:1px;
    box-shadow: 0px -200px 0px rgba(142, 144, 151, 0.039) inset; 
    text-transform:uppercase;
}

.item3 {
  position: relative;
  float: left;
  width: 123px;
  height: 123px;
  text-align: center;
  border: 0.1px solid rgba(98, 43, 43, 0);
  background: radial-gradient(50% 50% at 50% 50%, rgba(42, 42, 42, 0.4) 0, rgba(47, 47, 47, 0.7) 100%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0px -200px 0px rgba(142, 144, 151, 0.039) inset; 
  margin: 1px;
  text-transform: uppercase;
}

.item {
  position: relative;
  float: left;
  width: 123px;
  height: 123px;
  text-align: center;
  border: 0.1px solid #4e66a700;
  background: radial-gradient(50% 50% at 50% 50%, rgba(42, 42, 42, 0.4) 0, rgba(47, 47, 47, 0.7) 100%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0px -200px 0px rgba(142, 144, 151, 0.039) inset; 
  margin: 3px;
  text-transform: uppercase;
}

.item:hover {
  background-color:rgba(41, 41, 41, 0.2);
  -webkit-transition: opacity 1.2s ease;
  -moz-transition: opacity 1.2s ease;
  -ms-transition: opacity 1.2s ease;
  transition: opacity 1.2s ease;  
}

::-webkit-input-placeholder {
  color: rgba(220, 220, 220, 0.85);
}

#draggedItem {
  position: absolute;
  z-index: 80;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 0;
  pointer-events: none;
}

.itemimage {
  width: 100px;
  height: 100px;
  padding: 5px;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 1;
}
.item {
  background-color:rgba(39, 34, 103, 0);
}
.item:hover {
  background-color:rgba(55,55,11,0.05);
  border: solid rgba(222,222,222,0.25) 1px;

  -webkit-transition: opacity 1.2s ease;
  -moz-transition: opacity 1.2s ease;
  -ms-transition: opacity 1.2s ease;
  transition: opacity 1.2s ease;  
}

.inventory {
  width: 100%;
  height: 100%;
  display: flex;
  right: 20px;
  align-items: center;
  overflow:hidden;
  display:block;
  z-index:12211;
  -moz-box-shadow: 0 0 25px 25px rgba(1,1,1,0.6);
  -webkit-box-shadow: 0 0 25px 25px rgba(1,1,1,0.6);
  box-shadow: 0 0 25px 25px rgba(1,1,1,0.6);
}

#app {
  display: none;
  width: 100%;
  height: 100%;
}
.itemname3 {
  text-align:center;
  width:110px;
  font-size:8px;
  position:absolute;
  bottom:1px;
  color:rgba(255, 255, 255, 0);
  padding-bottom:2px;
  overflow:hidden;
  max-height:10px;
}

.itemname {
  text-align:left;
  width:110px;
  font-size:12px;
  left: 4px;
  position:absolute;
  bottom: 0px;
  color:white;
  padding-bottom:2px;
  overflow:auto;
  max-height:20px;
}

.itemQuality {
  text-align:center;
  height: 5.3px;
  left: 1px;
  position:absolute;
  bottom:116.7px;
  color:white;
  background: #4e65a7;
  border-radius: 3.75vh;
}

.middleQuality {
  text-align:center;
  height: 5.3px;
  position:absolute;
  bottom:14px;
  color:white;
  background: rgba(218, 150, 48, 0.9);
}

.perfect {
  text-align:center;
  height: 5.3px;
  position:absolute;
  bottom:14px;
  color:black;
  background: rgba(211,211,211,0.9);
}

.destroyed {
  text-align:center;
  height: 5.3px;
  position:absolute;
  bottom:14px;
  color:white;
  background: rgba(151,44,44,0.9);
  width:100%;
}

#UseBar {
  position: absolute;
  width: 31%;
  margin-left:46.5%;
  float:left;
  display:none;
  overflow-y:hidden;
  height:45%;
  margin-top:39%;
}

#ActionBar {
  position: absolute;
  width: 31%;
  margin-left: 38%;
  float: left;
  display: none;
  overflow-y: hidden;
  height: 45%;
  margin-top: 49%;
}

.wrapmain {
  position: relative;
  margin-top: 13%;
  width: 31%;
  margin-left: 8%;
  float: left;
  overflow-y: scroll;
  height: 45%;
}

.wrapsecondary {
  margin-top: 13%;
  width: 31%;
  margin-right: 25%;
  float: right;
  overflow-y: scroll;
  height: 45%;
}

.wrapmain::-webkit-scrollbar {
  width: 7px;
}

.wrapmain::-webkit-scrollbar-thumb {
  background: rgba(111, 111, 185, 0.7) !important;
  border-radius: 10px;
}

.wrapsecondary::-webkit-scrollbar {
  width: 7px;
}

.wrapsecondary::-webkit-scrollbar-thumb {
  background: rgba(111, 111, 185, 0.7) !important;
  border-radius: 10px;
}

.wrapPersonalWeight {
  position: absolute;
  left: 10.4%;
  top: 26%;
  font-size: 1.2vh;
  color: white;
}

.wrapPersonalWeight1 {
  position: absolute;
  left: 37.6%;
  top: 80%;
  font-size: 1.2vh;
  color: white;
}

.wrapSecondaryWeight {
  position: absolute;
  left: 59.5%;
  top: 26%;
  font-size: 1.2vh;
  color: white;
}

.wrapSecondaryWeight1 {
  position: absolute;
  left: 82.5%;
  top: 25%;
  font-size: 1.2vh;
  color: white;
}