@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Oswald&family=Poppins&family=Yuji+Hentaigana+Akari&display=swap');

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1; /* Ensure it's below your lobby container */
}

.overlay.active {
  display: block;
}

.lobby-container {
  margin-top: 5em;
  /* margin-top: 10em; */
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-lobby {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.create-lobby-button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #222;
  color: white;
  border: 2px solid gray;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.create-lobby-button:hover {
  opacity: 30%;
}

.lobby-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border: 2px solid white;
  background-color: #333;
  border-radius: 6px;
  overflow-y: auto;
  max-height: 700px;
}

.lobby-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.lobby-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.lobby-item {
  border: 2px solid gray;
  cursor: pointer;
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 26em;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #222;
  border-radius: 4px;
  transition: opacity 0.2s;
}

.lobby-item:hover {
  opacity: 30%;
}

.lobby-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lobby-title {
  margin: 0;
  font-size: 1.2rem;
}

.lobby-description {
  margin: 0;
  font-size: 0.9rem;
  color: #aaa;
}
