.incompatible-screen {
	width: 100%;
	height: 100%;
	background: rgba(145, 11, 11, 0.90);
}

.incompatible-modal {
	background: #421717;
	box-shadow: 0px 0.1504890895410083vh 0.3009781790820166vh rgba(0, 0, 0, 0.25);
	border-radius: 0.6019563581640331vh;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	width: 946px;
	height: 238px;
}

.incompatible-header {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	display: flex;
	align-items: center;
	color: #FFFFFF;

	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px
}

.line {
	background-color: rgba(128, 128, 128, 0.5);
	height: 0.1vh;
	width: 100%;
	margin-top: 0.1vh;
	margin-bottom: 0.1vh;
	
}

.incompatible-text {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	color: #FFFFFF;

	padding-top: 15px;
	padding-left: 15px;

}