@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background: #555; /* A vibrant gradient background */
  color: #ffffff;
}

body::-webkit-scrollbar {
  display: none;
}

#lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 2rem;
  background: -webkit-linear-gradient(left, #1d1d1d, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}

.arena {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 1.5rem;
  margin: 1rem;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.arena h2 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 0 1rem;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.arena:hover {
  transform: translateY(-5px);
}

.join-button {
  font-weight: 500;
  text-transform: uppercase;
  background: #0072ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 14px rgba(0, 114, 255, 0.3);
}

.join-button:hover {
  background: #0057d9;
  transform: scale(1.05);
}

.dropdown-content {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin-top: 0.5rem;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
}

.dropdown-content a {
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.dropdown-content a:first-child {
  border-top: none;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
