@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap);

.nicesexytext {
  font-family: Oswald;
  font-weight: bold;
  font-size: 2.45vh;
  letter-spacing: 0.0vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.947);
  width: 100%;
  opacity: 1.0;
  margin-top: -7.55vh;
  mix-blend-mode: difference;
}

.divwrap {
	display: none;
  margin-left:auto;
  margin-right:auto;
  color:rgba(25, 25, 25, 0.7);
  background:rgba(45, 45, 45, 0.7);
  border-radius: 0.4vh;
  width: 30vh;
  height: 3.50vh;
  margin-top: 85vh;
}

.progress {
  width: 85%;
}

.progress-wrap {
  height: 100%;
  left: 24px;
  overflow: hidden;
  position: relative;
  border-radius: 1.75vh;
}

#progress-bar {
  height: 30%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(90deg, #3ea4f7 -1.57%, #bc4747 102.99%);

  position: absolute;

  top: 13;
  width: 100%;
  border-radius: 1.75vh;

  transition: width;
  transition-timing-function: cubic-bezier(.36,.55,.63,.48);

  background-color: #DFDBE5;
}