@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Oswald&family=Poppins&family=Yuji+Hentaigana+Akari&display=swap');

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #fff; /* Light text for readability */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar { display: none; }

  /* width */
  ::-webkit-scrollbar {
    width: 3px;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    /* background-color: rgba(61, 61, 61, 0.329); */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #6eff69;
  }



.shadow-drop-center{animation:shadow-drop-center .4s cubic-bezier(.25,.46,.45,.94) both}
@keyframes shadow-drop-center{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}

.Lobby-Container {
  background: #1D1D1D;
  width: 1000px;
  height: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


.Close-Button {
  top: 5px;
  right: 50px;
  
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #6980ff;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  transform: rotate(45deg) translate(25px);
  box-shadow: rgba(53, 53, 53, 0.63) 0px 0px 0px 5px;

  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Close-Button:hover {
background-color: #ff6969;
  scale: 1.03;
}

.x {
  position: absolute;
  top: 2px;
  right: 5px;
  transform: rotate(135deg) translate(1px);
}


.Lobby-Text {
  top: 15px;
  left: 50px;
  font-size: 40px;
  font-family: 'Bebas Neue', cursive;
  position: absolute;
  color: white;
}

.CreateWager {
  position: absolute;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  width: 130px;
  height: 25px;
  border: none;
  outline: none;
  background-color: #699eff;
  color: rgb(255, 255, 255);
  margin-left: 15px;
  border-radius: 5px;
  position: absolute;
  top: 70px;
  right: 55px;

  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.CreateWager:hover {
  background-color: #006eff;
  box-shadow: rgba(53, 53, 53, 0.63) 0px 0px 0px 5px;
  scale: 1.02;
}

.Lobby-List {
  width: 930px;
  height: 670px;
  position: absolute;
  left: 50px;
  top: 100px;
  list-style: none;
  overflow: auto;
}

.Lobby-Item {
  background-color: #353535a1; 
  border-radius: 6px;
  padding: 3px;
  width: 890px;
  height: 50px;
  margin: 5px;
  color: rgb(255, 255, 255);
  position: relative;
  display: block;
  cursor: pointer;

  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.player {
  display: grid;
  grid-template-columns: 5% 10% 25% 1% 35% 1%;
  grid-auto-rows: 100%;
  column-gap: 1%;
  align-items:center;
  text-align: center;
  color:white;
  padding-top:1%;
  padding-bottom: 1%;
  box-sizing: border-box; 





}

.LobbyID {
  top: 15px;
  left: 30px;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  position: absolute;
  color: white;
}

.LobbyName {
  top: 15px;
  left: 100px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  color: white;
}

.AmountOfPlayers {
  top: 15px;
  right: 20px;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  position: absolute;
  color: white;
}

.Lobby-Settings {
  position: absolute;
  width: 500px;
  height: 35px;
  top: 10px;
  left: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Lobby-Setting {
  letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  border: none;
  outline: none;
  background-color: #555555;
  color: white;
  margin-left: 15px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.options {
  position: absolute;
  width: 600px;
  height: 35px;
  top: 10px;
  left: 200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


input[type="checkbox"] {
  appearance: none;
  background-color: transparent;

  position: relative;
  top: 5px;
  width: 15px;
  height: 15px;
  
  border: 1px solid #FF453A;
  background-color: #ff443a8a;
  border-radius: 4px;

  cursor: pointer;

  z-index: 2;

}

input[type="checkbox"]:checked {
  border: 1px solid #39BA46;
  background-color: #39ba4686;
}

.lobby-select:hover, .lobby-checkbox:hover {
  cursor: pointer;
}

.lobby-select {
  display: flex;
  flex-direction: row;
  font-size: 1.5vh;
  font-family: inherit;
  color: white;
  background: none;
  border: none;
  right: 2px;
  outline: none;
  position: absolute;
  background-color: #555555;
  border-radius: 5px;
}

.lobby-select::after {
  content: '\25BC'; /* Unicode down arrow character */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}