@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Oswald&family=Poppins&family=Yuji+Hentaigana+Akari&display=swap');
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.overlay {
    position: relative;
  }
  
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1000; /* Ensure modal is on top of other content */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .password-prompt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #12121249;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.password-prompt input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    background-color: #555;
    border-radius: 4px;
    outline: none;
    text-align: center; /* Center the text */
}

.password-prompt input[type="password"]::placeholder {
    text-align: center; /* Center the placeholder text */
}

.password-prompt .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Make the container full width */
}

.password-prompt button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
    outline: none;
}

.password-prompt button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 5px; /* Adjust spacing for error message */
}

.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .tab-container button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tab-container button.active-tab {
    background-color: #666;
  }
  

html,
body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    /* Light text for readability */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.overlay {
    background: #12121249;
    /* Dark background for contrast */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.lobby-container {
    margin-top: 5em;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background: #222;
    /* Dark theme for the container */
    border-radius: 8px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
    /* Soft shadow for depth */
    overflow-y: auto;
}

.custom-lobby-prompt input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #333;
}

.custom-lobby {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.custom-lobby-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #444;
    /* Darker button color for contrast */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-lobby-button:hover {
    background-color: #666;
    /* Lighter color on hover */
}

.custom-lobby-prompt {
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.custom-lobby-prompt h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.custom-lobby-prompt label {
    font-size: 1rem;
    color: white;
    margin-bottom: 10px;
}

.custom-lobby-prompt input[type="text"],
.custom-lobby-prompt input[type="checkbox"],
.custom-lobby-prompt select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    background-color: #555;
    border-radius: 4px;
    outline: none;
    color: white;
}

.custom-lobby-prompt input[type="text"]::placeholder,
.custom-lobby-prompt select {
    color: white;
}

.custom-lobby-prompt .checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.custom-lobby-prompt .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.custom-lobby-prompt button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
    outline: none;
}

.custom-lobby-prompt button:hover {
    background-color: #0056b3;
}

.custom-lobby-prompt button:last-child {
    margin-left: 10px;
}

.lobby-item.locked .lobby-player-count span {
    font-size: 1em;
}  

.lobby-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 600px;
}

.lobby-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333;
    /* Slightly lighter for the item */
    border-radius: 1vh;
    transition: transform 0.2s;
    animation: fadeIn 1s ease-in-out;
}

.lobby-item:hover {
    opacity: 50%;
    cursor: pointer;
}

.lobby-info {
    flex-grow: 1;
    margin-right: 20px;
}

.lobby-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.lobby-settings:hover {
    transform: scale(1.05);
}

.lobby-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lobby-player-count {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.lobby-setting {
    margin-left: 10px;
    font-size: 0.9rem;
    background-color: #444;
    padding: 5px;
    border-radius: 2px;
}

.options {
    display: flex;
    justify-content: space-between;
}

.lobby-checkbox {
    display: flex;
    flex-direction: row;
    font-size: 4vh;
    font-family: inherit;
    color: white;
    background: none;
    border: none;
}

.lobby-select {
    display: flex;
    flex-direction: row;
    font-size: 2vh;
    font-family: inherit;
    color: black;
    background: none;
    border: 2px solid gray;
}

.lobby-select::after {
    content: '\25BC';
    /* Unicode down arrow character */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.lobby-select:hover,
.lobby-checkbox:hover {
    opacity: 50%;
    cursor: pointer;
}